.git
.github/ISSUE_DRAFTS
.gradle
.idea
.vscode
build
out
bin
*.iml
*.ipr
*.iws

tmp-*.epub
tmp-*.xhtml
tmp_epub_batch
tmp_epub_title_batch

src/main/resources/static/books
src/main/resources/static/upload
